<div class="well main_container">
<div class="row" style="margin-left:1px; padding-top:20px; padding-bottom:20px;">
<div class="span5"><img class="img-polaroid" src="http://www.fairobserver.com/sites/default/files/artist_profile_picture.jpg"></div>
<div class="span10"  style="margin-left:60px; padding: 10px 0 0 50px; background:#e4e4e4; height:250px;">
	<h1 class="headline_bold">Your Artist Name goes here</h1>
	<p>This is a sample of what the artist profile page will look like... Your profile picture on the left a brief bio on the right & and your very own social feed powered by our good friends over at <a href="http://tintup.com">Tintup.com</a></p><p>If you would like to be featured by muvedo please feel out <a href="/app/index.html#/contact">this form</a> and we will contact you.</p>
	<p>Thank you, Madam Tania Do & Ric Murillo</p>
</div>
</div>
</div>

<div style="text-align:center;">
<h1 class="headline_bold">Your Artist Feed</h1>
</div>

<div class="well main_container">
<div class="row" style="margin-left:1px; padding-top:20px; padding-bottom:20px; text-align:center">

<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/hypes-images/assets/scripts/tintembed.js"></script>        <div style="-webkit-overflow-scrolling:touch;overflow:auto;position:relative;height:930px;width:1330px;">        <iframe class="tintup" src="http://www.tintup.com/muvedo?embed=true&height=900&width=1330&cols=5" style="height:900px;width:1330px;border:none;"></iframe><a href="http://www.tintup.com" style="width:118px;            height:31px;            background-image:url(https://s3-us-west-1.amazonaws.com/hypes-images/assets/logos/poweredbytintsmall.png);            position:absolute;            bottom:30px;            right: 10px;            text-indent: -9999px;            z-index:9;">Tint, a social media widget</a></div>
</div>
</div>
