<div class="well main_container">
<div class="row" style="margin-left:1px; padding-top:20px; padding-bottom:20px;">
<h3 class="headline">Get Featured - <span class="grayfont">Yo! Fill out the form...</span></h3>
<div class="span8 well" style="background:#e4e4e4"> 
	<h4 class="headline_bold">{{message}}</h4>
	<form id="form_style" class="form-horizontal" name="contactForm" ng-submit="contact_btn()" ng-show="contact_form">
	<label> artist name
		<input class="span8" type="text" ng-model="contact.artist_name" placeholder="your name" required>
		</label>
	<label> brief bio
		<input class="span8" type="text" ng-model="contact.artist_bio" placeholder="your bio" required>
		</label>
	<label> facebook url
		<input class="span8" type="text" ng-model="contact.facebook" placeholder="facebook.com/pagename" required>
		</label>
	<label> twitter url
		<input class="span8" type="text" ng-model="contact.twitter" placeholder="twitter.com/username" required>
		</label>
	<label> instagram url
		<input class="span8" type="text" ng-model="contact.instagram" placeholder="instagram.com/username" required>
		</label>
	<label> youtube url
		<input class="span8" type="text" ng-model="contact.youtube" placeholder="youtube.com/username" required>
		</label>
	<button style="margin-top:20px;" class="btn btn-large btn-success">submit info</button>
	</form>
</div>
<div class="span7"style="margin-left:70px; margin-top:50px;" >
<img class="img-polaroid" src="https://sphotos-a.xx.fbcdn.net/hphotos-ash4/299666_541496449196386_1856929799_n.png">
</div>
</div>
</div>