



<div class="main_wrapper">
  <div class="lg_content">
    <h2 ng-show="access_trigger == 'logout'">Hello <a href="{{profile_url}}">{{root_artist_name}}</a>, it looks like you are a member. If you would like to delete your account. Please contact tania@muvedo.com<span style="color:red; font-size:30px;" ng-show="join_message">{{join_message}}</span>
</h2>

  <h2 ng-hide="access_trigger == 'logout'">Join the muvedo artist community     <span style="color:red; font-size:30px;" ng-show="join_message">{{join_message}}</span>
</h2>
  <form class="form-inline" ng-hide="access_trigger == 'logout'">
      <input type="text" placeholder="artist name" ng-model="join_data.name" required>
      <input type="email" placeholder="email" ng-model="join_data.email" required>
      <input type="password" placeholder="password" ng-model="join_data.password" required>
<!--       <select ng-model="join_data.member_type" required>

        <option value="artist" selected>artist</option>
        <option value="member">member</option>
      </select> -->
      <button class="btn btn-primary" ng-click="join_form()">join</button>
      
  </form>
  </div>
</div>

 <div class="footer_content">
    <div class="contact_message">
      <h3> What?</h3>
      <p>muvedo is an artist community. Art. Revolution. Lifestlye.
    </div>

    <div class="contact_message">
      <h3> Why?</h3>
      <p> Muvedo will support the community by filming a monthly webshow featuring artist in the community and host monthly events to engourage networking amoungst our members. </p>
    </div>

    <div class="contact_message">
      <h3> Who?</h3>
      <p>Muvedo was founded by Madam Tania Do and Ric Murillo back in 2007. We can be reached via email at tania@muvedo.com</p>
    </div>

    <div class="contact_message">
      <h3> Privacy Policy and Terms of Use</h3>
      <p>It's simple. You own what you post.  If you act like a fool you get deleted. Lets respect each other.  </p>
    </div>
  </div>