

<div class="route_message"  ng-show="show_route_message">

  <div><p>{{route_message}}</p></div>

</div>


<div class="main_wrapper">

  <!-- \ -->

    <div class="image_gallery">
    	<h3 class="grayfont">VIDEOS - <span>Muvedo TV coming back soon... <!-- <a href="http://www.filmbreak.com/projects/muvedo-s-art-revolution-lifestyle" target="_blank"> click here to support the webshow.</a> --></span></h3>

		<img class="img-polaroid" src="http://s3.amazonaws.com/filmbreak_production/projects/378/featured_photo/original/muvedo_banner.jpg?1360008943">

    </div>

  <div class="fade_div">


    <!--   <div style="text-align:right; width:960px; backround:green; margin:auto;"><h2>Audio \\\\</h2></div> -->


  </div>

</div>

 <div class="footer_content"></div>




<!-- 

<div class="well" style="background:#e4e4e4;">
<div class="row" style="margin-left:1px; padding-top:20px; padding-bottom:20px;">
<h3 class="headline">Muvedo Tv - <span class="grayfont">muvedo tv needs your hype...</span></h3>
<div class="span9">
<img class="img-polaroid" src="http://s3.amazonaws.com/filmbreak_production/projects/378/featured_photo/original/muvedo_banner.jpg?1360008943">
</div>
<div class="span7" style="margin-left:60px;"> 
	<h4 class="headline_bold">help support muvedo by ...</h4>
	<p>muvedo is using <a href="http://www.filmbreak.com/projects/muvedo-s-art-revolution-lifestyle">filmbreak.com</a> to raise funds needed to produce the webshow. To help us get there. All you have to do is hype up our project at <a href="http://www.filmbreak.com/projects/muvedo-s-art-revolution-lifestyle">Film Break</a> ! </p> <br><p>Thank you, madam Tania Do & Ric Murillo</p>
	<br>

	<a  href="http://www.filmbreak.com/projects/muvedo-s-art-revolution-lifestyle"><img style="width:300px;" class="img-polaroid" src="http://2.bp.blogspot.com/-BW5ozDbwrUc/UOhYTRimUFI/AAAAAAAAANU/TdGmcrMEkfs/s1600/filmbreak1.png"></a>
</div>
</div>
</div> -->