
<div class="route_message"  ng-show="show_route_message">

  <div><p>{{route_message}}</p></div>

</div>


<div class="main_wrapper">

  <!-- \ -->

    <div class="image_gallery">


      	<div >
  			<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/hypes-images/assets/scripts/tintembed.js"></script>        <div style="-webkit-overflow-scrolling:touch;overflow:auto;position:relative;height:400px;width:940px;">        <iframe class="tintup" src="http://www.tintup.com/muvedo?embed=true&height=400&width=940&cols=4" style="height:400px;width:940px;border:none;"></iframe><a href="http://www.tintup.com" style="width:118px;            height:31px;            background-image:url(https://s3-us-west-1.amazonaws.com/hypes-images/assets/logos/poweredbytintsmall.png);            position:absolute;            bottom:30px;            right: 10px;            text-indent: -9999px;            z-index:9;">Tint, a social media widget</a>
  		</div>

    </div>

  <div class="fade_div">


    <!--   <div style="text-align:right; width:960px; backround:green; margin:auto;"><h2>Audio \\\\</h2></div> -->


  </div>

</div>

 <div class="footer_content"></div>